In [1]:
# decision tree is a tree shaped diagram used to determine a course of action. Each branch of the tree represents a possible decision, occurrence or reation
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

# loading data file
file_path = r'C:\Users\Wsiwale\Desktop\Dataset\Bankloan.txt'
balance_data=pd.read_csv(file_path)

In [2]:
# printing the length of the data
print('Dataset Length:: ', len(balance_data))
# shape of the data which show the length of the data and how many column are their
print('Dataset Shape:: ',balance_data.shape)

Dataset Length::  700
Dataset Shape::  (700, 9)

In [3]:
print('Dataset:: ')
balance_data.head()

Dataset::

    age   ed  employ  address  income  debtinc   creddebt   othdebt default
0  41.0  3.0      17       12   176.0      9.3  11.359392  5.008608       1
1  27.0  1.0      10        6    31.0     17.3   1.362202  4.000798       0
2  40.0  1.0      15        7     NaN      5.5   0.856075  2.168925       0
3  41.0  NaN      15       14   120.0      2.9   2.658720  0.821280       0
4  24.0  2.0       2        0    28.0     17.3   1.787436  3.056564       1

In [6]:
# Convert all columns in X to numeric, coercing errors to NaN for inspection
X = balance_data.iloc[:, 1:9].apply(pd.to_numeric, errors='coerce')
Y = balance_data.iloc[:, 8]  # Ensure Y is numeric or encoded

# Check if there are any NaN values after conversion
print("Non-numeric values in X:", X.isna().sum())

# Optionally, handle NaNs (e.g., by filling with mean or median)
X.fillna(X.mean(), inplace=True)  # or drop rows with NaN values: X.dropna()

# Splitting data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=100)

# Train the Decision Tree Classifier
clf_entropy = DecisionTreeClassifier(criterion='entropy', random_state=100, 
                                     max_depth=3, min_samples_leaf=5)
clf_entropy.fit(X_train, Y_train)

print("Training complete.")

Non-numeric values in X: ed          20
employ       0
address      0
income      37
debtinc      0
creddebt     0
othdebt      0
default      2
dtype: int64
Training complete.

In [7]:
# function to make predictions
Y_pred_en = clf_entropy.predict(X_test)
Y_pred_en

array(['1', '1', '0', '0', '0', '0', '1', '0', '0', '0', '1', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '0', '0',
       '0', '0', '0', '1', '0', '0', '1', '0', '0', '0', '0', '1', '0',
       '0', '0', '0', '1', '0', '0', '0', '0', '1', '0', '0', '0', '1',
       '0', '1', '0', '0', '0', '0', '1', '1', '0', '1', '0', '0', '1',
       '0', '0', '0', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0',
       '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1',
       '0', '0', '0', '0', '1', '0', '0', '0', '0', '0', '1', '0', '0',
       '0', '0', '0', '1', '0', '0', '0', '0', '0', '1', '0', '1', '0',
       '1', '0', '1', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '1', '0', '1', '0', '0', '0', '0', '1', '0', '0',
       '0', '1', '0', '0', '0', '1', '0', '0', '0', '0', '0', '1', '0',
       '0', '0', '1', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '1', '0', '1', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '1', '0', '1', '0', '1', '1',
       '0', '0', '1', '0', '1', '0', '0', '1', '0', '0', '1', '0', '0',
       '1', '0'], dtype=object)