In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn 
import os

In [3]:
file_path= r'C:\Users\Wsiwale\Desktop\Dataset\dataset geodata Mines_and_Mineral_Resources\Mines_and_Mineral_Resources.csv'
df = pd.read_csv(file_path)

In [4]:
df.head()

,index,FID,NGAID,SRCLNKID,METLNKID,FEATTYPE,SECCLASS,NAME,AREA_,PHONE,...,MADDRESS,MCITY,MSTATE,MZIP,MCOUNTY,SUBUNIT_NU,SUBUNIT_1,SUBUNIT_2,SUBUNIT_3,SUBUNIT_4
0,0,2001,,3608932,,POINT,UNCLASSIFIED,DOUGLAS G. KLIMER QUARRIES - SHEA QUARRY,,,...,RR 1 BOX 85K,UNIONDALE,PA,18470,SUSQUEHANNA,2,03,99,,
1,1,2002,,3608933,,POINT,UNCLASSIFIED,ROCK RIDGE STONE - BURTS BROTHERS,,,...,"RR 2, BOX 151-B",KINGSLEY,PA,18826,SUSQUEHANNA,1,03,,,
2,2,2003,,3608941,,POINT,UNCLASSIFIED,DAVID B. WILLIAMS - STANKAVAGE QUARRY,,,...,"RR #2, BOX 197",KINGSLEY,PA,18826,SUSQUEHANNA,1,03,,,
3,3,2004,,3608943,,POINT,UNCLASSIFIED,SCOTT H ROSENKRANS - ROSENKRANS,,,...,"RD #3, BOX 94",MONTROSE,PA,18801,SUSQUEHANNA,1,03,,,
4,4,2005,,4607236,,POINT,UNCLASSIFIED,WILLIAMS MOUNTAIN COAL COMPANY/DOING BUSINESS ...,,,...,P. O. BOX 310,NAOMA,WV,25140,RALEIGH,2,01,02,,

In [5]:
df

,index,FID,NGAID,SRCLNKID,METLNKID,FEATTYPE,SECCLASS,NAME,AREA_,PHONE,...,MADDRESS,MCITY,MSTATE,MZIP,MCOUNTY,SUBUNIT_NU,SUBUNIT_1,SUBUNIT_2,SUBUNIT_3,SUBUNIT_4
0,0,2001,,3608932,,POINT,UNCLASSIFIED,DOUGLAS G. KLIMER QUARRIES - SHEA QUARRY,,,...,RR 1 BOX 85K,UNIONDALE,PA,18470,SUSQUEHANNA,2,03,99,,
1,1,2002,,3608933,,POINT,UNCLASSIFIED,ROCK RIDGE STONE - BURTS BROTHERS,,,...,"RR 2, BOX 151-B",KINGSLEY,PA,18826,SUSQUEHANNA,1,03,,,
2,2,2003,,3608941,,POINT,UNCLASSIFIED,DAVID B. WILLIAMS - STANKAVAGE QUARRY,,,...,"RR #2, BOX 197",KINGSLEY,PA,18826,SUSQUEHANNA,1,03,,,
3,3,2004,,3608943,,POINT,UNCLASSIFIED,SCOTT H ROSENKRANS - ROSENKRANS,,,...,"RD #3, BOX 94",MONTROSE,PA,18801,SUSQUEHANNA,1,03,,,
4,4,2005,,4607236,,POINT,UNCLASSIFIED,WILLIAMS MOUNTAIN COAL COMPANY/DOING BUSINESS ...,,,...,P. O. BOX 310,NAOMA,WV,25140,RALEIGH,2,01,02,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2991,2991,1996,,3607948,,POINT,UNCLASSIFIED,FENTON FARMS - FENTON FARMS QUARRY,,,...,"R D 1, BOX 64",SUGAR RUN,PA,18846,BRADFORD,1,03,,,
2992,2992,1997,,3607970,,POINT,UNCLASSIFIED,ALAN C GAGE - GAGE QUARRY,,,...,"RR 1, BOX 1275",LAWTON,PA,18828,SUSQUEHANNA,1,03,,,
2993,2993,1998,,3608061,,POINT,UNCLASSIFIED,BILL JOHNSON QUARRY - BILL JOHNSON QUARRY,,,...,"RR 4, BOX 4018",WYALUSING,PA,18853,BRADFORD,1,03,,,
2994,2994,1999,,3608076,,POINT,UNCLASSIFIED,POWERS STONE INCORPORATED - POWERS QUARRY NUMB...,,,...,R D #5 BOX 124,MONTROSE,PA,18801,SUSQUEHANNA,1,03,,,
2995,2995,2000,,3608928,,POINT,UNCLASSIFIED,TODD GROOVER FLAGSTONE - KOONS - QUARRY 2,570,278-4481,...,RD 2 BOX 5A,MONTROSE,PA,18801,SUSQUEHANNA,1,03,,,

In [6]:
df = df.drop_duplicates()
df

,index,FID,NGAID,SRCLNKID,METLNKID,FEATTYPE,SECCLASS,NAME,AREA_,PHONE,...,MADDRESS,MCITY,MSTATE,MZIP,MCOUNTY,SUBUNIT_NU,SUBUNIT_1,SUBUNIT_2,SUBUNIT_3,SUBUNIT_4
0,0,2001,,3608932,,POINT,UNCLASSIFIED,DOUGLAS G. KLIMER QUARRIES - SHEA QUARRY,,,...,RR 1 BOX 85K,UNIONDALE,PA,18470,SUSQUEHANNA,2,03,99,,
1,1,2002,,3608933,,POINT,UNCLASSIFIED,ROCK RIDGE STONE - BURTS BROTHERS,,,...,"RR 2, BOX 151-B",KINGSLEY,PA,18826,SUSQUEHANNA,1,03,,,
2,2,2003,,3608941,,POINT,UNCLASSIFIED,DAVID B. WILLIAMS - STANKAVAGE QUARRY,,,...,"RR #2, BOX 197",KINGSLEY,PA,18826,SUSQUEHANNA,1,03,,,
3,3,2004,,3608943,,POINT,UNCLASSIFIED,SCOTT H ROSENKRANS - ROSENKRANS,,,...,"RD #3, BOX 94",MONTROSE,PA,18801,SUSQUEHANNA,1,03,,,
4,4,2005,,4607236,,POINT,UNCLASSIFIED,WILLIAMS MOUNTAIN COAL COMPANY/DOING BUSINESS ...,,,...,P. O. BOX 310,NAOMA,WV,25140,RALEIGH,2,01,02,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2991,2991,1996,,3607948,,POINT,UNCLASSIFIED,FENTON FARMS - FENTON FARMS QUARRY,,,...,"R D 1, BOX 64",SUGAR RUN,PA,18846,BRADFORD,1,03,,,
2992,2992,1997,,3607970,,POINT,UNCLASSIFIED,ALAN C GAGE - GAGE QUARRY,,,...,"RR 1, BOX 1275",LAWTON,PA,18828,SUSQUEHANNA,1,03,,,
2993,2993,1998,,3608061,,POINT,UNCLASSIFIED,BILL JOHNSON QUARRY - BILL JOHNSON QUARRY,,,...,"RR 4, BOX 4018",WYALUSING,PA,18853,BRADFORD,1,03,,,
2994,2994,1999,,3608076,,POINT,UNCLASSIFIED,POWERS STONE INCORPORATED - POWERS QUARRY NUMB...,,,...,R D #5 BOX 124,MONTROSE,PA,18801,SUSQUEHANNA,1,03,,,
2995,2995,2000,,3608928,,POINT,UNCLASSIFIED,TODD GROOVER FLAGSTONE - KOONS - QUARRY 2,570,278-4481,...,RD 2 BOX 5A,MONTROSE,PA,18801,SUSQUEHANNA,1,03,,,

In [7]:
print(df.isnull().sum())

index         0
FID           0
NGAID         0
SRCLNKID      0
METLNKID      0
FEATTYPE      0
SECCLASS      0
NAME          0
AREA_         0
PHONE         0
ADDRESS       0
ADDRESS2      0
CITY          0
STATE         0
ZIP           0
ZIPP4         0
COUNTY        0
FIPS          0
DIRECTIONS    0
EMERGTITLE    0
EMERGPHONE    0
EMERGEXT      0
CONTDATE      0
CONTHOW       0
GEODATE       0
GEOHOW        0
HSIPTHEMES    0
NAICSCODE     0
NAICSDESCR    0
GEOLINKID     0
SOURCE        0
X             0
Y             0
ST_VENDOR     0
ST_VERSION    0
GEOPREC       0
PHONELOC      0
QC_QA         0
MINE_ID       0
INSPEC_OFF    0
SIC           0
CANVASS       0
MINE_TYPE     0
STAT_CODE     0
STAT_DATE     0
COMPNAME      0
MINE_PLANT    0
MADDRESS      0
MCITY         0
MSTATE        0
MZIP          0
MCOUNTY       0
SUBUNIT_NU    0
SUBUNIT_1     0
SUBUNIT_2     0
SUBUNIT_3     0
SUBUNIT_4     0
dtype: int64

In [13]:
numeric_cols = df.select_dtypes(include=['number']).columns
categorical_cols = df.select_dtypes(include=['object']).columns

#fill missing values with numerical columns with median
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())

#fill missing values for categorical columns with mode(most frequent values)
df[categorical_cols] = df[categorical_cols].apply(lambda x:  x.fillna(x.mode()[0]))

print("Missing values handles successfully!")

Missing values handles successfully!